* {
  font-family: 'BebasNeueBold';
  font-weight: normal;
  font-style: normal;
}

html {
  background: black;
}

body {
  background-image: url('/img/bg/louiecbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container > img {
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-gap: 10px 5%;
  grid-template-columns: 30% 30% 30%;
}

.grid-container > .video-list-entry {
  /* border: 1px solid #f1f1f1; */
  /* padding: 20px; */
  text-decoration: none;
  color: black;
  background: #ffffffa8;
  /* border-radius: 10px; */
}

.grid-container > .video-list-entry:hover {
  background: #f1f1f1;
  box-shadow: 0 0 5px 0 #f1f1f1;
}

.video-list {
  width: 60%;
  margin: 0 auto;
}

.video-list-entry {
  display: initial;
}

.video-list-entry img {
  width: 100%;
}

.video-list-entry div {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

header {
  text-align: center;
  margin-bottom: -20px;
}

.header-banner-img {
  width: 40%;
}

.minibanner {
  background: black;
  width: 100%;
  color: white;
  position: fixed;
  height: 30px;
  font-size: 30px;
  padding: 20px;
  top: 0;
}

.minibanner.show-false {
  display: none;
}

.minibanner div {
  display: inline-block;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  width: 33%;
}

.minibanner-icons img {
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon-list {
  margin-bottom: 20px;
}

.icon-list img {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  body {
    background: none;
    margin: 0 auto;
  }
  body:before {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url('/img/bg/louiecbg.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .grid-container {
    display: grid;
    grid-gap: 10px 0;
    grid-template-columns: auto;
  }

  .video-list {
    margin-top: 180px;
    width: 80%;
  }

  .header-banner-img {
    display: none;
  }
  .minibanner {
    background: black;
    width: 100%;
    color: white;
    position: fixed;
    font-size: 30px;
    padding: 10px 0 20px 0;
    top: 0;
  }

  .minibanner.show-false {
    display: inherit;
  }

  .minibanner div {
    display: block;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    width: 100%;
    background: black;
    padding-bottom: 10px;
  }

  .minibanner-icons img {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .icon-list {
    margin-bottom: 20px;
    display: none;
  }
}
