* {
  font-family: din-condensed, sans-serif;
  font-weight: bold;
}

html {
  background: black;
}

body {
  background-image: url('/img/bg/louiecbg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container > .video-list-entry {
  /* border: 1px solid #f1f1f1; */
  /* padding: 20px; */
  text-decoration: none;
  color: black;
  background: #ffffffa8;
  /* border-radius: 10px; */
}

.flex-container > .video-list-entry:hover {
  background: #f1f1f1;
  box-shadow: 0 0 5px 0 #f1f1f1;
}

.grid-container {
  display: grid;
  grid-gap: 10px 5%;
  grid-template-columns: 30% 30% 30%;
}

.grid-container > .video-list-entry {
  /* border: 1px solid #f1f1f1; */
  /* padding: 20px; */
  text-decoration: none;
  color: black;
  background: #ffffffa8;
  /* border-radius: 10px; */
}

.grid-container > .video-list-entry:hover {
  background: #f1f1f1;
  box-shadow: 0 0 5px 0 #f1f1f1;
}

.video-list {
  width: 60%;
  margin: 0 auto;
}

.video-list-entry {
}

.video-list-entry img {
  width: 100%;
}

.video-list-entry div {
  padding: 20px;
  text-align: center;
}

header {
  text-align: center;
}

.header-banner {
  width: 40%;
}

.icon-list img {
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-gap: 10px 0;
    grid-template-columns: auto;
  }
}
